<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Varthana</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="color: #3880ff">Dash Board</h1>

  <ion-grid>
    <ion-row>
      <ion-card (click)="showWeeklyPieChart()">
        <ion-card-header>
          <ion-card-subtitle>Weekly signup</ion-card-subtitle>
          <ion-card-title>Pie Chart</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card (click)="showFetchedData()">
        <ion-card-header>
          <ion-card-title>Fetched Api Details</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card (click)="showLoanHistory()">
        <ion-card-header>
          <ion-card-title>Loan History</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
