<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loan_history_api</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <!-- <ion-label>{{ loan }}</ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>
