<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>apiFetch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apiFetch</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of signupDetails">
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>{{ user.email }}</p>
        <p>{{ user.phone }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
