<ion-header>
  <ion-toolbar>
    <ion-title> Weekly Signup Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="pieChart">Today signUp pie chart</h1>

  <div class="chart-container">
    <canvas id="signupChart"></canvas>
  </div>
  <h1 class="accordion">Today's Signups</h1>

  <ion-accordion-group>
    <ng-container *ngFor="let signup of todaySignups">
      <ion-accordion [value]="signup.email">
        <ion-item slot="header">
          <ion-label>{{ signup.name }}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-label>{{ signup.email }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Phone Number:</ion-label>
            <ion-label>{{ signup.phone_Number }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ng-container>
  </ion-accordion-group>
  <h1 class="accordion">Last two days Signups</h1>
  <ion-accordion-group>
    <ng-container *ngFor="let signup of lastTwoDaysSignups">
      <ion-accordion [value]="signup.email">
        <ion-item slot="header">
          <ion-label>{{ signup.name }}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-label>{{ signup.email }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Phone Number:</ion-label>
            <ion-label>{{ signup.phone_Number }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ng-container>
  </ion-accordion-group>
</ion-content>
