<ion-header [translucent]="true" (click)="navigateToLogin()">
  <ion-toolbar>
    <ion-title>Varthana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Sign Up</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form
        [formGroup]="signUpForm"
        (ngSubmit)="signUp()"
        (ngSubmit)="saveUserData()"
      >
        <!-- =============================================================================================== -->
        <ion-item>
          <ion-label position="stacked" color="primary">Email id</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            [(ngModel)]="userData.email"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"
        >
          Please enter a valid email.
        </ion-text>

        <!-- =============================================================================================== -->
        <ion-item>
          <ion-label position="stacked" color="primary">Full Name</ion-label>
          <ion-input
            formControlName="name"
            [(ngModel)]="userData.name"
            type="text"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched"
        >
          Please enter Name.
        </ion-text>

        <!-- =============================================================================================== -->
        <ion-item>
          <ion-label position="stacked" color="primary">Phone Number</ion-label>
          <ion-input
            formControlName="phone"
            type="text"
            [(ngModel)]="userData.phone_Number"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched"
        >
          Invalid phone number .
        </ion-text>
        <!-- =============================================================================================== -->

        <ion-item>
          <ion-label color="primary">Gender</ion-label>
          <ion-select
            placeholder="Select One"
            (ionChange)="genderSelected($event)"
          >
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="Others">Others</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- =============================================================================================== -->

        <ion-item>
          <ion-label position="stacked" color="primary"
            >Create Password</ion-label
          >
          <ion-input
            formControlName="password"
            [type]="passwordType"
          ></ion-input>
          <ion-icon
            class="eyeIcon"
            [name]="passwordShown ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()"
          >
          </ion-icon>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
        >
          Password is required .
        </ion-text>
        <!-- =============================================================================================== -->
        <ion-item>
          <ion-label position="stacked" color="primary"
            >Confirm Password</ion-label
          >
          <ion-input
            formControlName="confirmPassword"
            [type]="passwordType2"
            [(ngModel)]="userData.password"
          ></ion-input>
          <ion-icon
            class="eyeIcon"
            [name]="passwordShown2 ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword2()"
          >
          </ion-icon>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched"
        >
          Empty or Mismatched
        </ion-text>

        <!-- =============================================================================================== -->
        <ion-button type="submit" [disabled]="signUpForm.invalid" expand="block"
          >Sign up</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
